In [1]:
n=4
for i in range (n):
    for j in range (0,i+1):
        print("ineuron", end=" ")
    print()

ineuron
ineuron ineuron
ineuron ineuron ineuron
ineuron ineuron ineuron ineuron

In [2]:
n=3
k=n
for i in range(n):
    k=k-1
    print('    '*k, end=' ')
    for j in range(i+1):
        print('  ineuron  ', end= ' ')
    print("")
n=1
k=n
for i in range(n,-1,-1):
    k=k+1
    print('   '*k,end='')
    for j in range(i+1):
        print("  ineuron  ",end= ' ')
    print("")

           ineuron
       ineuron     ineuron
   ineuron     ineuron     ineuron
        ineuron     ineuron
           ineuron

In [3]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3": "kumar" , 3:6 , 7:8} , ["ineuron" ,"data science "]]

3.Try to extract all the list entity

In [5]:
for i in l:
    if type(i)==list:
        print(i)

[1, 2, 3, 4]
['ineuron', 'data science ']

4. Try to extract all the dict enteties

In [6]:
for i in l:
    if type(i)==dict:
        print(i)

{'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8}

5. Try to extract all the tuples entities

In [8]:
for i in l:
    if type(i)==tuple:
        print(i)

(2, 3, 4, 5, 6)
(3, 4, 5, 6, 7)

 6.Try to extract all the numerical data it may b a part of dict key and values

In [20]:
for i in l:
    if type(i)==list or type(i)== tuple :
        for j in i:
            if type(j)==int:
                print(j)
    if type(i)==set:
        for j in i:
            if type(j)==int:
                print(j)
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==int or type(v)==int:
                print(k)
                print(v)

1
2
3
4
2
3
4
5
6
3
4
5
6
7
45
4
5
23
3
6
7
8

7.Try to give summation of all the numeric data

In [25]:
li=[]
sum=0
for i in l:
    if type(i)==list or type(i)== tuple or type(i)==set:
        for j in i:
            if type(j)==int:
                li.append(j)
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==int or type(v)==int:
                li.append(k)
                li.append(v)
for i in li :
    sum=sum+i
print("Sum of all numeric data: ",sum)

Sum of all numeric data:  156

8. Try to filter out all the odd values out all numeric data which is a part of a list

In [31]:
for i in l:
    if type(i)==list or type(i)== tuple or type(i)==set:
        for j in i:
            if type(j)==int and j%2==1:
                print(j)
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==int and k%2==1:
                print(k)
            elif type(v)==int and v%2==1:
                print(v)

1
3
3
5
3
5
7
45
5
23
3
7

9.Try to extract "ineruon" out of this data

In [58]:
l = [[1,2,3,4] , (2,3,4,5,6) , (3,4,5,6,7) , set([23,4,5,45,4,4,5,45,45,4,5]) , {'k1' :"sudh" , "k2" : "ineuron","k3":
            "kumar" , 3:6 , 7:8} , ["ineuron" , "data science "]]

In [61]:
for i in l:
    if type(i)==list:
        for j in i:
            if j=='ineuron':
                print(j)
for i in l:
    if type(i)==dict:
        for k,v in i.items():
            if k=='ineuron':
                print(k)
            elif v=='ineuron':
                print(v)

ineuron
ineuron

10.Try to find out a number of occurances of all the data

In [80]:
li=[]
for i in l:
    if type(i)==list or type(i)== tuple :
        for j in i:
            li.append(j)   
    if type(i)==set:
        for j in i:
            li.append(j) 
    if type(i)==dict:
        for k,v in i.items():
            li.append(k)
            li.append(v)
print(li)
for i in set(li):
    print(i," : ",li.count(i))

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science ']
kumar  :  1
1  :  1
2  :  2
3  :  4
4  :  4
5  :  3
6  :  3
7  :  2
k1  :  1
8  :  1
k2  :  1
45  :  1
sudh  :  1
k3  :  1
23  :  1
ineuron  :  2
data science   :  1

11.Try to find out number of keys in dict element

In [98]:
count=0
for i in l:
    if type(i)==dict:
        for k,v in i.items():
            count+=1
print("No. of keys in dict : ",count)

No. of keys in dict :  5

12.Try to filter out all the string data

In [101]:
l

[[1, 2, 3, 4],
 (2, 3, 4, 5, 6),
 (3, 4, 5, 6, 7),
 {4, 5, 23, 45},
 {'k1': 'sudh', 'k2': 'ineuron', 'k3': 'kumar', 3: 6, 7: 8},
 ['ineuron', 'data science ']]

In [105]:
for i in l:
    if type(i)==list :
        for j in i:
            if type(j)==str:
                print(j)
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==str or type(v)==str:
                print(k)
                print(v)

k1
sudh
k2
ineuron
k3
kumar
ineuron
data science

13.Try to Find  out alphanum in data

In [115]:
for i in l:
    if type(i)==dict:
        for k,v in i.items():
            if type(k)==str and k.isalnum():
                print(k)

k1
k2
k3

14.Try to find out multiplication of all numeric value in  the individual collection inside dataset

In [126]:
for i in l:
    m=1
    if type(i)==list :
        for j in i:
            if type(j)==int:
                m=m*j
        print("Multiplication of collection1= ",m)
    if type(i)== tuple :
        for j in i:
            if type(j)==int:
                 m=m*j
        print("Multiplication of collection2= ",m)
    if type(i)==set:
        for j in i:
            if type(j)==int:
                 m=m*j
        print("Multiplication of collection3= ",m)
        break

Multiplication of collection1=  24
Multiplication of collection2=  720
Multiplication of collection2=  2520
Multiplication of collection3=  20700

15.Try to unwrap all the collection inside collection and create a flat list

In [127]:
li=[]
for i in l:
    if type(i)==list or type(i)== tuple :
        for j in i:
            li.append(j)   
    if type(i)==set:
        for j in i:
            li.append(j) 
    if type(i)==dict:
        for k,v in i.items():
            li.append(k)
            li.append(v)
print(li)

[1, 2, 3, 4, 2, 3, 4, 5, 6, 3, 4, 5, 6, 7, 45, 4, 5, 23, 'k1', 'sudh', 'k2', 'ineuron', 'k3', 'kumar', 3, 6, 7, 8, 'ineuron', 'data science ']